@use "./partials/_mixins.scss" as *;

.main-container {
  width: 100%;
  height: 100vh;
  @include background-image("../assets/mobile-hero-bg.jpg");

  .header {
    width: 100%;

    .logo-nav-wrapper {
      @include flex(space-between);
      @include container();
      height: 10vh;
      overflow-x: hidden;

      .logo,
      .hamburger {
        transition: all 0.4s;
        z-index: 4;
      }

      .logo.nav-active {
        color: $light-text;
      }

      .nav {
        @include position(absolute);
        @include flex(center, flex-start);
        width: 100%;
        min-height: 100vh;
        background-color: $mobile-nav-bg;
        transform: translateY(-110%);
        transition: all 0.5s ease-in-out;
        z-index: 3;
      }

      .nav.active {
        transform: translateX(0%);
      }

      .nav-links-wrapper {
        @include flex(center, flex-start, column, 4.6875rem);
        width: 90%;
        margin: auto;
        height: 100%;
        font-size: $mobile-large-text;
        font-weight: $font-600;
      }

      .nav-links {
        color: $mobile-nav-links;
        text-transform: uppercase;
        opacity: 0;
      }

      .nav-links.active {
        animation: navLinks 0.5s ease-in-out 0.5s forwards;
      }
    }
  }

  .main {
    @include container();
    @include flex(center, center, column, 3rem);
    height: 60vh;

    .hero-text {
      text-align: center;
      font-size: $mobile-header;
      font-weight: $font-700;
      z-index: 2;
    }

    .search-input-group {
      position: relative;
      width: 90%;
      height: 3rem;
      z-index: 2;
    }

    .search-input {
      width: 100%;
      height: 100%;
      font-size: 1rem;
      padding: 0.4rem 1rem 0.4rem 2.3rem;
      background-color: rgba($color: $pry-color, $alpha: 0.2);
      border-radius: 2rem;
      border: none;

      &::placeholder {
        font-style: italic;
        color: $lighter-dark-text;
        font-weight: 500;
        font-size: 0.9rem;
      }
    }

    .input-stick {
      @include position(absolute, 50%, 1.5rem);
      width: 0.07rem;
      height: 1.5rem;
      transform: translateY(-50%);
      background-color: $lighter-dark-text;
    }
  }

  .overlay {
    @include position(absolute);
    @include overlay(
      linear-gradient(180deg, #b9cbd8 51.56%, rgba(196, 196, 196, 0) 75.52%)
    );
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

// This is the animation for mobile nav links when nav is active
@keyframes navLinks {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
