@use "../partials/_mixins.scss" as *;

*,
*::before,
*::after {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  padding: 0.1rem;
  outline: 2px dashed $sec-color;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  color: $dark-text;
}

a {
  text-decoration: none;
}

button,
label {
  cursor: pointer;
}

.container {
  @include container();
  min-height: calc(90vh - 1rem);
  padding-bottom: 4rem;
}

.header {
  width: 100%;
  margin-top: 1rem;

  .logo-nav-wrapper {
    @include flex(space-between);
    @include container();
    height: 10vh;
    overflow-x: hidden;
    z-index: 4;

    .logo,
    .hamburger {
      transition: all 0.4s;
      z-index: 4;
    }

    .logo {
      font-size: $mobile-large-text;
      font-weight: $font-500;

      @include media-query(desktop) {
        font-size: $desktop-text;
      }
    }

    .logo.nav-active {
      color: $light-text;
    }

    .nav {
      @include position(absolute);
      @include flex(center, flex-start);
      width: 100%;
      min-height: 100vh;
      background-color: $mobile-nav-bg;
      transform: translateY(-110%);
      transition: all 0.5s ease-in-out;
      z-index: 3;

      @include media-query(bigTablet) {
        position: relative;
        top: 0;
        left: 0;
        transform: translateY(0%);
        width: 85%;
        min-height: 100%;
        background-color: transparent;
      }
    }

    .nav.active {
      transform: translateX(0%);
    }

    .nav-links-wrapper {
      @include flex(center, flex-start, column, 4.6875rem);
      width: 90%;
      margin: 9rem auto 0;
      height: 100%;
      font-size: $mobile-large-text;
      font-weight: $font-600;

      @include media-query(tablet) {
        font-size: $tablet-large-text;
      }

      @include media-query(bigTablet) {
        @include flex(flex-end, center, row, 1.5rem);
        position: relative;
        width: 100%;
        font-size: $tablet-text;
        font-weight: $font-500;
        margin: auto;
      }

      @include media-query(desktop) {
        gap: 3rem;
        font-size: $desktop-text;
      }
    }

    .nav-links {
      position: relative;
      color: $mobile-nav-links;
      text-transform: uppercase;
      opacity: 0;
      transition: all 0.3s ease-in-out;

      &::before {
        content: "";
        position: absolute;
        bottom: -0.3rem;
        width: 100%;
        height: 0.1rem;
        background-color: $sec-color;
        transition: all 0.3s ease-in-out;
        opacity: 0;
      }

      @include media-query(bigTablet) {
        opacity: 1;
        text-transform: none;
        color: $lighter-dark-text;

        &:hover {
          color: $pry-color;
        }

        &:hover::before {
          opacity: 1;
        }
      }
    }

    .nav-links.active {
      animation: navLinks 0.5s ease-in-out 0.5s forwards;
    }

    .hamburger {
      background: none;
      border: none;

      @include media-query(bigTablet) {
        display: none;
      }
    }

    .profile-icon {
      path {
        fill: $mobile-nav-links;

        @include media-query(bigTablet) {
          fill: $lighter-dark-text;
        }
      }
    }
  }
}

.section-title {
  font-size: $mobile-sub-header;
  font-size: $font-600;
}

// Hostel Cards Section
.hostel-section {
  margin: 7.8125rem 0;

  .hostel-group {
    margin: 4.6875rem 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;

    .hostel-card {
      display: block;
      width: 100%;
      border: 0;
      background-color: $white;
      box-shadow: 0px 6px 10px -4px rgba(0, 0, 0, 0.3);
      border-radius: 1rem;
      overflow: hidden;
      text-align: left;

      .hostel-image-group {
        width: 100%;
        height: 13rem;
        background-color: grey;
      }

      .hostel-details-group {
        padding: 1.5rem 1rem;
      }

      .hostel-name-occupants {
        @include flex(space-between, center, row, 1.1rem);
        margin-bottom: 3.125rem;
      }

      .hostel-name {
        font-size: $mobile-large-text;
        font-weight: $font-500;
        line-height: 1.6;

        .lga-state {
          display: block;
          font-weight: 400;
          font-style: italic;
          font-size: $base-text;
          color: $lightest-dark-text;
        }
      }

      .occupants {
        font-size: 1rem;
        gap: 0.6rem;
        color: $dark-text;
      }

      .price {
        font-size: $mobile-large-text;
        font-weight: $font-600;
      }
    }
  }
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: $pry-color;
  text-align: center;
  padding: 0.9rem;
  color: $white;

  .copyright {
    font-size: $mobile-text;
  }
}

.form-wrapper {
  font-weight: $font-500;
  font-size: $mobile-text;
  margin: auto;
  max-width: 49rem;

  @include media-query(tablet) {
    width: 80%;
  }

  @include media-query(bigTablet) {
    width: 100%;
    font-size: $tablet-medium-text;
  }

  .form {
    margin-top: 6.25rem;

    &-btn {
      display: inline-block;
      width: 100%;
      font-weight: $font-500;
      font-size: $mobile-medium-text;
      border: none;
      border-radius: 1rem;
      padding: 1rem;
      background-color: $sec-color;
      color: $white;
      margin: 2.1875rem 0 2.8125rem;
      text-align: center;

      &:hover,
      &:focus {
        background-color: lighten($sec-color, 10);
      }

      @include media-query(bigTablet) {
        font-size: $tablet-large-text;
        margin: 3.75rem 0 3rem;
        padding: 1.5rem;
      }
    }
  }

  .form-title {
    text-align: center;
    font-weight: $font-600;
    font-size: $mobile-header;
    margin-bottom: 4.3rem;
    color: $sec-color;

    @include media-query(bigTablet) {
      font-size: $tablet-header;
      margin-bottom: 5.9rem;
    }
  }

  .input-group {
    &:not(:last-of-type) {
      margin-bottom: 2.8rem;

      @include media-query(bigTablet) {
        margin-bottom: 3.5rem;
      }
    }

    .label {
      display: inline-block;
      font-size: $mobile-large-text;
      color: $sec-color;
      margin-bottom: 1.125rem;

      @include media-query(bigTablet) {
        font-size: $tablet-large-text;
      }
    }

    .input {
      display: block;
      width: 100%;
      height: 3rem;
      padding: 1rem;
      font-size: $mobile-medium-text;
      letter-spacing: 1px;
      border-radius: 1rem;
      background-color: $input-bg;
      border: none;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        background-color: lighten($input-bg, 8);
      }

      @include media-query(bigTablet) {
        height: 4.3rem;
        font-size: $tablet-medium-text;
      }
    }
  }

  .input-section {
    margin-bottom: 2.8rem;

    @include media-query(bigTablet) {
      @include flex(space-between, center, row, 2rem);
      margin-bottom: 3.5rem;

      .input-group {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }

  .account-prompt {
    text-align: center;

    &-link {
      display: inline-block;
      position: relative;
      color: $sec-color;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: lighten($sec-color, 30);

        &::before {
          background-color: lighten($sec-color, 30);
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -0.3rem;
        width: 100%;
        height: 0.11rem;
        background-color: $sec-color;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.profile {
  @include flex(center, center, column);
  text-align: center;
}

.account-notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  @include flex(center, center, column, 2rem);
  background-color: $white;
  z-index: 5;

  &-text {
    font-size: 1.7rem;
    font-weight: $font-500;
  }
}
