// Breakpoints
$tablet-breakpoint: 600px;
$big-tablet-breakpoint: 900px;
$desktop-breakpoint: 1100px;

// COLORS
$pry-color: #3338a4;
$sec-color: #3e4079;

// backgrounds
$mobile-nav-bg: #141525;
$input-bg: #c5d1e6;
$faq-bg-color: lighten($pry-color, 52);
$white: #fff;

// text-colors
$dark-text: #111;
$lighter-dark-text: #393939;
$lightest-dark-text: #888;
$light-text: #ccc;
$mobile-nav-links: #969696;

// FONT
// sizes
$base-text: 1rem;

$mobile-text: 1.05rem;
$mobile-medium-text: 1.17rem;
$mobile-large-text: 1.3rem;
$mobile-sub-header: 1.5rem;
$mobile-header: 2rem;

$tablet-text: 1.18rem;
$tablet-medium-text: 1.35rem;
$tablet-large-text: 1.75rem;
$tablet-sub-header: 2rem;
$tablet-header: 3rem;

$desktop-text: 1.25rem;
$desktop-medium-text: 1.5rem;
$desktop-large-text: 2rem;
$desktop-sub-header: 2.5rem;
$desktop-header: 4.5rem;

// weights
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$font-800: 800;
